/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #050709;
    --color01: #66a773;
    --color02: #d24646;
    --color03: #b4b47b;
    --color04: #727272;
    --color05: #8686ba;
    --color06: #a360a3;
    --color07: #993426;
    --color08: #4a4a4a;
    --color09: #a3cfa8;
    --color10: #e99999;
    --color11: #dadaba;
    --color12: #adadad;
    --color13: #afafd2;
    --color14: #c296c2;
    --color15: #ffffff;
}
